<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.csm.rover.simulator.objects">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <DatedFile name="datedFile" rootpath="Logs">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </DatedFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="datedFile"/>
        </Root>
    </Loggers>
</Configuration>